$is-dark: null !default;

$hyperlink-text: null !default;
$hyperlink-hover-text: null !default;

$bg-primary: null !default;
$bg-secondary: null !default;
$bg-tertiary: null !default;

$text-primary: null !default;
$text-secondary: null !default;
$text-headings: null !default;
$text-headline: null !default;
$text-disabled: null !default;

$border-color: null !default;

$menu-hover-bg: null !default;

$header-filter: null !default;
$header-shadow: null !default;

$button-primary: null !default;
$button-switch-shadow: null !default;

$info-text: null !default;

$suites: null !default;

$icon-switcher-url: null !default;
$icon-scrollbar-arrow-n-url: null !default;
$icon-scrollbar-arrow-s-url: null !default;
$breadcrumb-arrow-url: null !default;
