$is-dark: false;

$hyperlink-text: null;
$hyperlink-hover-text: null;
$dark-hyperlink-color:#3D57D8;

$bg-primary: null;
$bg-secondary: #ffffff;
$bg-tertiary: null;

$text-primary: null;
$text-secondary: #656565;
$text-headings: null;
$text-headline: null;
$text-disabled: null;

$border-color: null;

$menu-hover-bg: null;

$header-filter: blur(45px);
$header-shadow: null;

$button-primary: null;
$button-switch-shadow: 0px 0px 24px rgba(90, 94, 102, 0.4);

$info-text: null;

$icon-switcher: url(image_path("switcher-light.png"));
$icon-treeview-e-url: null;
$icon-treeview-s-url: null;
$icon-scrollbar-arrow-n-url: null;
$icon-scrollbar-arrow-s-url: null;
$breadcrumb-arrow-url: null;
