.DS_Store
.dockerignore
.editorconfig
.ruby-version
.vs
/_assets/
/_common/root/
/_data/
/_includes/
/_layouts/
/_plugins/
/_templates/
/docs-watcher/
/favicon.ico
/fonts/
/styles/
.asset-cache/
_site
bs-config.js
build-docs.sh
copy_content.sh
copy_local.sh
install-npm.sh
robots.txt
search.html
start-docs.sh
temp_exclude_result.tmp
watch.sh
