<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <clear />
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

        <httpModules>
            <clear />
        </httpModules>

        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ClaimsPrincipalHttpModule" />
            <remove name="SitefinityClaimsAuthenticationModule" />
            <remove name="Sitefinity" />
            <remove name="SessionAuthenticationModule" />
            <remove name="ScriptModule" />
            <remove name="RadUploadModule" />
            <remove name="SitefinityAnalyticsModule" />
        </modules>
        <handlers>
            <remove name="xamlx-64" />
            <remove name="xamlx-script" />
            <remove name="svc-64" />
            <remove name="svc-script" />
            <remove name="xamlx" />
            <remove name="svc" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <remove name="WildCard" />
            <remove name="WildCard32" />
            <remove name="Telerik.Web.UI.DialogHandler" />
            <remove name="Telerik.RadUploadProgressHandler" />
            <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
            <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
            <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
            <remove name="Telerik.Sitefinity.Html5UploadHandler" />
            <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
            <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
            <remove name="Telerik.Web.UI.SpellCheckHandler" />
            <remove name="Telerik_Web_UI_WebResource_axd" />
            <remove name="Telerik_Web_UI_DialogHandler_aspx" />
            <remove name="Telerik.ReportViewer.axd_*" />
        </handlers>

        <rewrite>
            <rules>
                <clear />
				
				<rule name="Redirect to https" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule> 

                <rule name="index" enabled="true" stopProcessing="true">
                    <match url="^/?$" />
                    <action type="Redirect" url="introduction" redirectType="Permanent" />
                </rule>

				<!-- mass broken urls due to docs splitting start -->
				<rule name="ajaxControl-redirect" enabled="true" stopProcessing="true">
					<match url="^controls/ajax/radajaxloadingpanel/(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="controls/ajaxloadingpanel/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="ajaxControl1-redirect" enabled="true" stopProcessing="true">
					<match url="^controls/ajax/radajaxpanel/(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="controls/ajaxpanel/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="ajaxControl2-redirect" enabled="true" stopProcessing="true">
					<match url="^controls/ajax/radajaxmanager/(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="controls/ajaxmanager/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="ajaxControlCommon-redirect" enabled="true" stopProcessing="true">
					<match url="^controls/ajax/(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="controls/ajaxmanager/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="inputManagerCommon-redirect" enabled="true" stopProcessing="true">
					<match url="^controls/input/radinputmanager/(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="controls/inputmanager/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="inputTextBoxCommon-redirect" enabled="true" stopProcessing="true">
					<match url="^controls/input/radtextbox/(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="controls/textbox/features/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="inputCommon-redirect" enabled="true" stopProcessing="true">
					<match url="^controls/input/(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="controls/textbox/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="misspelledMaskedTextboxCommon-redirect" enabled="true" stopProcessing="true">
					<match url="^controls/maksedtextbox/(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="controls/maskedtextbox/{R:1}" redirectType="Permanent" />
				</rule>




				<!-- Document Processing Redirects Start -->
				<rule name="pdfprocessing-redirect" enabled="true" stopProcessing="true">
                    <match url="pdfprocessing/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="https://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
                </rule>   
				<rule name="wordsprocessing-redirect" enabled="true" stopProcessing="true">
                    <match url="wordsprocessing/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="https://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
                </rule> 
				<rule name="spreadprocessing-redirect" enabled="true" stopProcessing="true">
                    <match url="spreadprocessing/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="https://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
                </rule> 
				<rule name="spreadstreamprocessing-redirect" enabled="true" stopProcessing="true">
                    <match url="spreadstreamprocessing/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="https://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
                </rule> 
					<rule name="ziplibrary-redirect" enabled="true" stopProcessing="true">
                    <match url="ziplibrary/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="https://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
                </rule> 
				<!-- Document Processing Redirects End -->
				
                {% for page in site.redirect_pages %} 
                    {% for prev_url in page.previous_url %}
                        <rule name="redirect-{{ prev_url | replace: '/', '-' }}" enabled="true" stopProcessing="true">
                            <match url="^{{ prev_url }}$" />
                            <action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" />
                        </rule>
                        {% endfor %}
                {% endfor %}
		   
	    	<rule name="redirect-telerik-web-browser-client-api" enabled="true" stopProcessing="true">
                    <match url="^api/client/Telerik.Web.Browser$" />
                    <action type="Redirect" url="https://docs.telerik.com/devtools/aspnet-ajax/api/client/Telerik.Web.Browser.html" />
                </rule>
                <rule name="Redirecting .html ext" enabled="true">
                  <match url="^(.*)[.]html$"/>
                  <conditions logicalGrouping="MatchAny">
                    <add input="{URL}" pattern="(.*)[.]html$"/>
                  </conditions>
                  <action type="Redirect" url="{ToLower:{R:1}}"/>
                </rule>
    
                <!-- <rule name="add_html_extension" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule> -->
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>

</configuration>
