$fw-bold: 600;
$fw-semibold: 500;
$fw-normal: 400;
$heading-fw: 500;

$font-heading: "Metric", Helvetica, Arial, sans-serif;
$font-regular: "Metric", Helvetica, Arial, sans-serif;
$font-light: $font-regular;
$font-medium: $font-regular;
$font-code: Consolas, Menlo, "Ubuntu Mono", monospace;

$text-primary-color: #1F1F1F;
$text-headings-color: #454545;
$text-default-color: #656565;
$btn-support-bg: transparent;
$link-color: #3D57D8;
$link-hover-color: #2D2DB2;
$link-background-color: #f2f8ff;
$navigation-link-color: #696b6e;

$btn-support-color: #2D6CEC;
$btn-support-border: #2D6CEC;
$btn-support-border-hover: #94D7FF;
$btn-support-hover-color: #ffffff;

$border-separator-color: #DEDEDE;
$border-horizontal-color: #E6E6E6;

$footer-bg: #e7ebf5;

$accent-solid: #3f5366;
$text-active-color: #4b4e52;

$try-now: #F46147;
$try-now-hover: #F24021;

$tip-bg: #e4f1df;
$important-bg: #f9edc6;
$caution-bg: #f7e1df;
