
@font-face {
  font-family: 'TelerikWebUI';
  src: url(font_path("TelerikWebUI.eot"));
  src: url(font_path("TelerikWebUI.eot")), url(font_path("TelerikWebUI.woff")), url(font_path("TelerikWebUI.ttf")), url(font_path("TelerikWebUI.svg"));
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* TelerikWebUI start */

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TelerikWebUI' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom style for centering the glyphs */
  display: block;
  text-align: center;
  font-size: 20px;
}

.t-i-caret-tr::before {
  content: "\e000";
}

.t-i-arrow-45-up-right::before {
  content: "\e000";
}

.t-i-collapse-ne::before {
  content: "\e000";
}

.t-i-resize-ne::before {
  content: "\e000";
}

.t-i-caret-br::before {
  content: "\e001";
}

.t-i-arrow-45-down-right::before {
  content: "\e001";
}

.t-i-collapse-se::before {
  content: "\e001";
}

.t-i-resize-se::before {
  content: "\e001";
}

.t-i-caret-bl::before {
  content: "\e002";
}

.t-i-arrow-45-down-left::before {
  content: "\e002";
}

.t-i-collapse-sw::before {
  content: "\e002";
}

.t-i-resize-sw::before {
  content: "\e002";
}

.t-i-caret-tl::before {
  content: "\e003";
}

.t-i-arrow-45-up-left::before {
  content: "\e003";
}

.t-i-collapse-nw::before {
  content: "\e003";
}

.t-i-resize-nw::before {
  content: "\e003";
}

.t-i-caret-alt-up::before {
  content: "\e004";
}

.t-i-arrow-60-up::before {
  content: "\e004";
}

.t-i-arrow-n::before {
  content: "\e004";
}

.t-i-kpi-trend-increase::before {
  content: "\e004";
}

.t-i-expand-n::before {
  content: "\e004";
}

.t-i-sarrow-n::before {
  content: "\e004";
}

.t-i-caret-alt-right::before {
  content: "\e005";
}

.t-i-arrow-60-right::before {
  content: "\e005";
}

.t-i-arrow-e::before {
  content: "\e005";
}

.t-i-expand::before {
  content: "\e005";
}

.t-i-expand-e::before {
  content: "\e005";
}

.t-i-sarrow-e::before {
  content: "\e005";
}

.t-i-caret-alt-down::before {
  content: "\e006";
}

.t-i-arrow-60-down::before {
  content: "\e006";
}

.t-i-arrow-s::before {
  content: "\e006";
}

.t-i-kpi-trend-decrease::before {
  content: "\e006";
}

.t-i-expand-s::before {
  content: "\e006";
}

.t-i-collapse::before {
  content: "\e006";
}

.t-i-sarrow-s::before {
  content: "\e006";
}

.t-i-caret-alt-left::before {
  content: "\e007";
}

.t-i-arrow-60-left::before {
  content: "\e007";
}

.t-i-arrow-w::before {
  content: "\e007";
}

.t-i-expand-w::before {
  content: "\e007";
}

.t-i-sarrow-w::before {
  content: "\e007";
}

.t-i-caret-alt-to-top::before {
  content: "\e008";
}

.t-i-arrow-end-up::before {
  content: "\e008";
}

.t-i-seek-n::before {
  content: "\e008";
}

.t-i-caret-alt-to-right::before {
  content: "\e009";
}

.t-i-arrow-end-right::before {
  content: "\e009";
}

.t-i-seek-e::before {
  content: "\e009";
}

.t-i-caret-alt-to-bottom::before {
  content: "\e00a";
}

.t-i-arrow-end-down::before {
  content: "\e00a";
}

.t-i-seek-s::before {
  content: "\e00a";
}

.t-i-caret-alt-to-left::before {
  content: "\e00b";
}

.t-i-arrow-end-left::before {
  content: "\e00b";
}

.t-i-seek-w::before {
  content: "\e00b";
}

.t-i-caret-double-alt-up::before {
  content: "\e00c";
}

.t-i-arrow-double-60-up::before {
  content: "\e00c";
}

.t-i-arrow-seek-up::before {
  content: "\e00c";
}

.t-i-caret-double-alt-right::before {
  content: "\e00d";
}

.t-i-arrow-double-60-right::before {
  content: "\e00d";
}

.t-i-arrow-seek-right::before {
  content: "\e00d";
}

.t-i-forward-sm::before {
  content: "\e00d";
}

.t-i-caret-double-alt-down::before {
  content: "\e00e";
}

.t-i-arrow-double-60-down::before {
  content: "\e00e";
}

.t-i-arrow-seek-down::before {
  content: "\e00e";
}

.t-i-caret-double-alt-left::before {
  content: "\e00f";
}

.t-i-arrow-double-60-left::before {
  content: "\e00f";
}

.t-i-arrow-seek-left::before {
  content: "\e00f";
}

.t-i-rewind-sm::before {
  content: "\e00f";
}

.t-i-caret-alt-expand::before {
  content: "\e010";
}

.t-i-arrows-kpi::before {
  content: "\e010";
}

.t-i-kpi::before {
  content: "\e010";
}

.t-i-caret-alt-sort::before {
  content: "\e010";
}

.t-i-arrows-no-change::before {
  content: "\e011";
}

.t-i-arrow-overflow-down::before {
  content: "\e012";
}

.t-i-chevron-up::before {
  content: "\e013";
}

.t-i-chevron-double-up::before {
  content: "\e05e";
}

.t-i-arrow-chevron-up::before {
  content: "\e013";
}

.t-i-arrowhead-n::before {
  content: "\e013";
}

.t-i-chevron-right::before {
  content: "\e014";
}

.t-i-chevron-double-right::before {
  content: "\e05f";
}

.t-i-arrow-chevron-right::before {
  content: "\e014";
}

.t-i-arrowhead-e::before {
  content: "\e014";
}

.t-i-chevron-down::before {
  content: "\e015";
}

.t-i-chevron-double-down::before {
  content: "\e060";
}

.t-i-arrow-chevron-down::before {
  content: "\e015";
}

.t-i-arrowhead-s::before {
  content: "\e015";
}

.t-i-chevron-left::before {
  content: "\e016";
}

.t-i-chevron-double-left::before {
  content: "\e061";
}

.t-i-arrow-chevron-left::before {
  content: "\e016";
}

.t-i-arrowhead-w::before {
  content: "\e016";
}

.t-i-arrow-up::before {
  content: "\e017";
}

.t-i-arrow-right::before {
  content: "\e018";
}

.t-i-arrow-down::before {
  content: "\e019";
}

.t-i-arrow-left::before {
  content: "\e01a";
}

.t-i-level-down::before {
  content: "\e01b";
}

.t-i-arrow-drill::before {
  content: "\e01b";
}

.t-i-level-up::before {
  content: "\e01c";
}

.t-i-arrow-parent::before {
  content: "\e01c";
}

.t-i-level-to-top::before {
  content: "\e01d";
}

.t-i-arrow-root::before {
  content: "\e01d";
}

.t-i-level-root::before {
  content: "\e01d";
}

.t-i-col-resize::before {
  content: "\e01e";
}

.t-i-arrows-resizing::before {
  content: "\e01e";
}

.t-i-arrows-axes::before {
  content: "\e01f";
}

.t-i-arrows-dimensions::before {
  content: "\e01f";
}

.t-i-dimension::before {
  content: "\e01f";
}

.t-i-arrows-swap::before {
  content: "\e020";
}

.t-i-drag-and-drop::before {
  content: "\e021";
}

.t-i-categorize::before {
  content: "\e022";
}

.t-i-grid::before {
  content: "\e023";
}

.t-i-grid-layout::before {
  content: "\e024";
}

.t-i-group::before {
  content: "\e025";
}

.t-i-ungroup::before {
  content: "\e026";
}

.t-i-handler-drag::before {
  content: "\e027";
}

.t-i-layout::before {
  content: "\e028";
}

.t-i-layout-1-by-4::before {
  content: "\e029";
}

.t-i-layout-2-by-2::before {
  content: "\e02a";
}

.t-i-page-layout::before {
  content: "\e02a";
}

.t-i-layout-side-by-side::before {
  content: "\e02b";
}

.t-i-layout-stacked::before {
  content: "\e02c";
}

.t-i-columns::before {
  content: "\e02d";
}

.t-i-rows::before {
  content: "\e02e";
}

.t-i-reorder::before {
  content: "\e02f";
}

.t-i-menu::before {
  content: "\e030";
}

.t-i-hamburger::before {
  content: "\e030";
}

.t-i-more-vertical::before {
  content: "\e031";
}

.t-i-more-v::before {
  content: "\e031";
}

.t-i-vbars::before {
  content: "\e031";
}

.t-i-more-horizontal::before {
  content: "\e032";
}

.t-i-more-h::before {
  content: "\e032";
}

.t-i-hbars::before {
  content: "\e032";
}

.t-i-overlap::before {
  content: "\e033";
}

.t-i-home::before {
  content: "\e034";
}

.t-i-root::before {
  content: "\e034";
}

.t-i-height::before {
  content: "\e035";
}

.t-i-width::before {
  content: "\e036";
}

.t-i-max-height::before {
  content: "\e037";
}

.t-i-max-width::before {
  content: "\e038";
}

.t-i-min-height::before {
  content: "\e039";
}

.t-i-min-width::before {
  content: "\e03a";
}

.t-i-margin::before {
  content: "\e03b";
}

.t-i-margin-top::before {
  content: "\e03c";
}

.t-i-margin-right::before {
  content: "\e03d";
}

.t-i-margin-bottom::before {
  content: "\e03e";
}

.t-i-margin-left::before {
  content: "\e03f";
}

.t-i-padding::before {
  content: "\e040";
}

.t-i-padding-top::before {
  content: "\e041";
}

.t-i-padding-right::before {
  content: "\e042";
}

.t-i-padding-bottom::before {
  content: "\e043";
}

.t-i-padding-left::before {
  content: "\e044";
}

.t-i-border-style::before {
  content: "\e045";
}

.t-i-border-style-top::before {
  content: "\e046";
}

.t-i-border-style-right::before {
  content: "\e047";
}

.t-i-border-style-bottom::before {
  content: "\e048";
}

.t-i-border-style-left::before {
  content: "\e049";
}

.t-i-border-radius::before {
  content: "\e04a";
}

.t-i-border-radius-top-right::before {
  content: "\e04b";
}

.t-i-border-radius-bottom-right::before {
  content: "\e04c";
}

.t-i-border-radius-bottom-left::before {
  content: "\e04d";
}

.t-i-border-radius-top-left::before {
  content: "\e04e";
}

.t-i-outline-width::before {
  content: "\e04f";
}

.t-i-outline-offset::before {
  content: "\e050";
}

.t-i-box-sizing::before {
  content: "\e051";
}

.t-i-position-top::before {
  content: "\e052";
}

.t-i-position-right::before {
  content: "\e053";
}

.t-i-position-bottom::before {
  content: "\e054";
}

.t-i-position-left::before {
  content: "\e055";
}

.t-i-display-block::before {
  content: "\e056";
}

.t-i-display-inline-block::before {
  content: "\e057";
}

.t-i-display-flex::before {
  content: "\e058";
}

.t-i-display-inline-flex::before {
  content: "\e059";
}

.t-i-gap-column::before {
  content: "\e05a";
}

.t-i-gap-row::before {
  content: "\e05b";
}

.t-i-handle-resize-alt::before {
  content: "\e05c";
}

.t-i-handle-resize::before {
  content: "\e05d";
}

.t-i-undo::before {
  content: "\e100";
}

.t-i-undo-large::before {
  content: "\e100";
}

.t-i-redo::before {
  content: "\e101";
}

.t-i-redo-large::before {
  content: "\e101";
}

.t-i-arrow-rotate-ccw::before {
  content: "\e102";
}

.t-i-reset::before {
  content: "\e102";
}

.t-i-arrow-rotate-cw::before {
  content: "\e103";
}

.t-i-reload::before {
  content: "\e103";
}

.t-i-refresh::before {
  content: "\e103";
}

.t-i-recurrence::before {
  content: "\e103";
}

.t-i-arrows-repeat::before {
  content: "\e103";
}

.t-i-arrows-no-repeat::before {
  content: "\e104";
}

.t-i-non-recurrence::before {
  content: "\e104";
}

.t-i-refresh-clear::before {
  content: "\e104";
}

.t-i-arrow-rotate-ccw-small::before {
  content: "\e105";
}

.t-i-reset-sm::before {
  content: "\e105";
}

.t-i-arrow-rotate-cw-small::before {
  content: "\e106";
}

.t-i-reload-sm::before {
  content: "\e106";
}

.t-i-refresh-sm::before {
  content: "\e106";
}

.t-i-recurrence-sm::before {
  content: "\e106";
}

.t-i-arrows-repeat-sm::before {
  content: "\e106";
}

.t-i-clock::before {
  content: "\e107";
}

.t-i-calendar::before {
  content: "\e108";
}

.t-i-save::before {
  content: "\e109";
}

.t-i-floppy::before {
  content: "\e109";
}

.t-i-print::before {
  content: "\e10a";
}

.t-i-printer::before {
  content: "\e10a";
}

.t-i-pencil::before {
  content: "\e10b";
}

.t-i-edit::before {
  content: "\e10b";
}

.t-i-trash::before {
  content: "\e10c";
}

.t-i-delete::before {
  content: "\e10c";
}

.t-i-paperclip::before {
  content: "\e10d";
}

.t-i-attachment::before {
  content: "\e10d";
}

.t-i-clip::before {
  content: "\e10d";
}

.t-i-paperclip-alt::before {
  content: "\e10e";
}

.t-i-attachment-45::before {
  content: "\e10e";
}

.t-i-clip-45::before {
  content: "\e10e";
}

.t-i-link::before {
  content: "\e10f";
}

.t-i-link-horizontal::before {
  content: "\e10f";
}

.t-i-hyperlink::before {
  content: "\e10f";
}

.t-i-link-h::before {
  content: "\e10f";
}

.t-i-unlink::before {
  content: "\e110";
}

.t-i-unlink-horizontal::before {
  content: "\e110";
}

.t-i-hyperlink-remove::before {
  content: "\e110";
}

.t-i-unlink-h::before {
  content: "\e110";
}

.t-i-link-vertical::before {
  content: "\e111";
}

.t-i-link-v::before {
  content: "\e111";
}

.t-i-unlink-vertical::before {
  content: "\e112";
}

.t-i-unlink-v::before {
  content: "\e112";
}

.t-i-lock::before {
  content: "\e113";
}

.t-i-unlock::before {
  content: "\e114";
}

.t-i-cancel::before {
  content: "\e115";
}

.t-i-cancel-outline::before {
  content: "\e116";
}

.t-i-deny::before {
  content: "\e116";
}

.t-i-cancel-circle::before {
  content: "\e117";
}

.t-i-check::before {
  content: "\e118";
}

.t-i-checkmark::before {
  content: "\e118";
}

.t-i-tick::before {
  content: "\e118";
}

.t-i-check-outline::before {
  content: "\e119";
}

.t-i-checkmark-outline::before {
  content: "\e119";
}

.t-i-success::before {
  content: "\e119";
}

.t-i-check-circle::before {
  content: "\e11a";
}

.t-i-checkmark-circle::before {
  content: "\e11a";
}

.t-i-x::before {
  content: "\e11b";
}

.t-i-close::before {
  content: "\e11b";
}

.t-i-clear::before {
  content: "\e11b";
}

.t-i-times::before {
  content: "\e11b";
}

.t-i-group-delete::before {
  content: "\e11b";
}

.t-i-x-outline::before {
  content: "\e11c";
}

.t-i-close-outline::before {
  content: "\e11c";
}

.t-i-clear-outline::before {
  content: "\e11c";
}

.t-i-times-outline::before {
  content: "\e11c";
}

.t-i-error::before {
  content: "\e11c";
}

.t-i-x-circle::before {
  content: "\e11d";
}

.t-i-close-circle::before {
  content: "\e11d";
}

.t-i-clear-circle::before {
  content: "\e11d";
}

.t-i-times-circle::before {
  content: "\e11d";
}

.t-i-plus::before {
  content: "\e11e";
}

.t-i-add::before {
  content: "\e11e";
}

.t-i-plus-outline::before {
  content: "\e11f";
}

.t-i-add-outline::before {
  content: "\e11f";
}

.t-i-plus-circle::before {
  content: "\e120";
}

.t-i-add-circle::before {
  content: "\e120";
}

.t-i-minus::before {
  content: "\e121";
}

.t-i-kpi-trend-equal::before {
  content: "\e121";
}

.t-i-minus-outline::before {
  content: "\e122";
}

.t-i-minus-circle::before {
  content: "\e123";
}

.t-i-sort-asc::before {
  content: "\e124";
}

.t-i-sort-desc::before {
  content: "\e125";
}

.t-i-sort-clear::before {
  content: "\e126";
}

.t-i-unsort::before {
  content: "\e126";
}

.t-i-sort-asc-small::before {
  content: "\e127";
}

.t-i-sort-asc-sm::before {
  content: "\e127";
}

.t-i-sort-desc-small::before {
  content: "\e128";
}

.t-i-sort-desc-sm::before {
  content: "\e128";
}

.t-i-filter::before {
  content: "\e129";
}

.t-i-filter-clear::before {
  content: "\e12a";
}

.t-i-filter-small::before {
  content: "\e12b";
}

.t-i-filter-sm::before {
  content: "\e12b";
}

.t-i-filter-sort-asc-small::before {
  content: "\e12c";
}

.t-i-filter-sort-asc-sm::before {
  content: "\e12c";
}

.t-i-filter-sort-desc-small::before {
  content: "\e12d";
}

.t-i-filter-sort-desc-sm::before {
  content: "\e12d";
}

.t-i-filter-add-expression::before {
  content: "\e12e";
}

.t-i-filter-add-group::before {
  content: "\e12f";
}

.t-i-login::before {
  content: "\e130";
}

.t-i-sign-in::before {
  content: "\e130";
}

.t-i-logout::before {
  content: "\e131";
}

.t-i-sign-out::before {
  content: "\e131";
}

.t-i-download::before {
  content: "\e132";
}

.t-i-upload::before {
  content: "\e133";
}

.t-i-hyperlink-open::before {
  content: "\e134";
}

.t-i-hyperlink-open-sm::before {
  content: "\e135";
}

.t-i-launch::before {
  content: "\e136";
}

.t-i-window::before {
  content: "\e137";
}

.t-i-window-maximize::before {
  content: "\e137";
}

.t-i-maximize::before {
  content: "\e137";
}

.t-i-window-restore::before {
  content: "\e138";
}

.t-i-windows::before {
  content: "\e138";
}

.t-i-tiles::before {
  content: "\e138";
}

.t-i-restore::before {
  content: "\e138";
}

.t-i-window-minimize::before {
  content: "\e139";
}

.t-i-minimize::before {
  content: "\e139";
}

.t-i-gear::before {
  content: "\e13a";
}

.t-i-cog::before {
  content: "\e13a";
}

.t-i-custom::before {
  content: "\e13a";
}

.t-i-gears::before {
  content: "\e13b";
}

.t-i-cogs::before {
  content: "\e13b";
}

.t-i-wrench::before {
  content: "\e13c";
}

.t-i-settings::before {
  content: "\e13c";
}

.t-i-eye::before {
  content: "\e13d";
}

.t-i-preview::before {
  content: "\e13d";
}

.t-i-search::before {
  content: "\e13e";
}

.t-i-zoom::before {
  content: "\e13e";
}

.t-i-zoom-in::before {
  content: "\e13f";
}

.t-i-zoom-out::before {
  content: "\e140";
}

.t-i-arrows-move::before {
  content: "\e141";
}

.t-i-pan::before {
  content: "\e141";
}

.t-i-move::before {
  content: "\e141";
}

.t-i-calculator::before {
  content: "\e142";
}

.t-i-cart::before {
  content: "\e143";
}

.t-i-shopping-cart::before {
  content: "\e143";
}

.t-i-connector::before {
  content: "\e144";
}

.t-i-plus-sm::before {
  content: "\e145";
}

.t-i-splus::before {
  content: "\e145";
}

.t-i-minus-sm::before {
  content: "\e146";
}

.t-i-sminus::before {
  content: "\e146";
}

.t-i-kpi-status-deny::before {
  content: "\e147";
}

.t-i-kpi-status-hold::before {
  content: "\e148";
}

.t-i-kpi-status-open::before {
  content: "\e149";
}

.t-i-equal::before {
  content: "\e14a";
}

.t-i-not-equal::before {
  content: "\e14b";
}

.t-i-less-or-equal::before {
  content: "\e14c";
}

.t-i-greater-or-equal::before {
  content: "\e14d";
}

.t-i-divide::before {
  content: "\e14e";
}

.t-i-accessibility::before {
  content: "\e14f";
}

.t-i-barcode-outline::before {
  content: "\e150";
}

.t-i-barcode::before {
  content: "\e151";
}

.t-i-barcode-scanner::before {
  content: "\e152";
}

.t-i-qr-code-outline::before {
  content: "\e153";
}

.t-i-qr-code::before {
  content: "\e154";
}

.t-i-qr-code-scanner::before {
  content: "\e155";
}

.t-i-barcode-qr-code-scanner::before {
  content: "\e156";
}

.t-i-signature::before {
  content: "\e157";
}

.t-i-hand::before {
  content: "\e158";
}

.t-i-pointer::before {
  content: "\e159";
}

.t-i-cursor::before {
  content: "\e159";
}

.t-i-stick::before {
  content: "\e15a";
}

.t-i-unstick::before {
  content: "\e15b";
}

.t-i-set-column-position::before {
  content: "\e15c";
}

.t-i-play::before {
  content: "\e200";
}

.t-i-pause::before {
  content: "\e201";
}

.t-i-stop::before {
  content: "\e202";
}

.t-i-rewind::before {
  content: "\e203";
}

.t-i-forward::before {
  content: "\e204";
}

.t-i-volume-down::before {
  content: "\e205";
}

.t-i-volume-low::before {
  content: "\e205";
}

.t-i-volume-up::before {
  content: "\e206";
}

.t-i-volume-high::before {
  content: "\e206";
}

.t-i-volume-mute::before {
  content: "\e207";
}

.t-i-volume-off::before {
  content: "\e207";
}

.t-i-hd::before {
  content: "\e208";
}

.t-i-closed-captions::before {
  content: "\e209";
}

.t-i-subtitles::before {
  content: "\e209";
}

.t-i-playlist::before {
  content: "\e20a";
}

.t-i-music-notes::before {
  content: "\e20b";
}

.t-i-audio::before {
  content: "\e20b";
}

.t-i-play-sm::before {
  content: "\e20c";
}

.t-i-pause-sm::before {
  content: "\e20d";
}

.t-i-stop-sm::before {
  content: "\e20e";
}

.t-i-heart-outline::before {
  content: "\e300";
}

.t-i-fav-outline::before {
  content: "\e300";
}

.t-i-favorite-outline::before {
  content: "\e300";
}

.t-i-heart::before {
  content: "\e301";
}

.t-i-fav::before {
  content: "\e301";
}

.t-i-favorite::before {
  content: "\e301";
}

.t-i-star-outline::before {
  content: "\e302";
}

.t-i-bookmark-outline::before {
  content: "\e302";
}

.t-i-star::before {
  content: "\e303";
}

.t-i-bookmark::before {
  content: "\e303";
}

.t-i-checkbox::before {
  content: "\e304";
}

.t-i-shape-rect::before {
  content: "\e304";
}

.t-i-checkbox-checked::before {
  content: "\e305";
}

.t-i-checkbox-indeterminate::before {
  content: "\e306";
}

.t-i-tri-state-indeterminate::before {
  content: "\e306";
}

.t-i-checkbox-null::before {
  content: "\e307";
}

.t-i-tri-state-null::before {
  content: "\e307";
}

.t-i-circle::before {
  content: "\e308";
}

.t-i-radiobutton::before {
  content: "\e309";
}

.t-i-shape-circle::before {
  content: "\e309";
}

.t-i-radiobutton-checked::before {
  content: "\e30a";
}

.t-i-bell::before {
  content: "\e400";
}

.t-i-notification::before {
  content: "\e400";
}

.t-i-info-circle::before {
  content: "\e401";
}

.t-i-information::before {
  content: "\e401";
}

.t-i-info::before {
  content: "\e401";
}

.t-i-note::before {
  content: "\e401";
}

.t-i-question-circle::before {
  content: "\e402";
}

.t-i-question::before {
  content: "\e402";
}

.t-i-help::before {
  content: "\e402";
}

.t-i-exclamation-circle::before {
  content: "\e403";
}

.t-i-warning::before {
  content: "\e403";
}

.t-i-exception::before {
  content: "\e403";
}

.t-i-camera::before {
  content: "\e500";
}

.t-i-photo-camera::before {
  content: "\e500";
}

.t-i-image::before {
  content: "\e501";
}

.t-i-photo::before {
  content: "\e501";
}

.t-i-image-export::before {
  content: "\e502";
}

.t-i-photo-export::before {
  content: "\e502";
}

.t-i-zoom-actual-size::before {
  content: "\e503";
}

.t-i-zoom-best-fit::before {
  content: "\e504";
}

.t-i-image-resize::before {
  content: "\e505";
}

.t-i-crop::before {
  content: "\e506";
}

.t-i-mirror::before {
  content: "\e507";
}

.t-i-flip-horizontal::before {
  content: "\e508";
}

.t-i-flip-h::before {
  content: "\e508";
}

.t-i-flip-vertical::before {
  content: "\e509";
}

.t-i-flip-v::before {
  content: "\e509";
}

.t-i-rotate::before {
  content: "\e50a";
}

.t-i-rotate-right::before {
  content: "\e50b";
}

.t-i-rotate-cw::before {
  content: "\e50b";
}

.t-i-rotate-left::before {
  content: "\e50c";
}

.t-i-rotate-ccw::before {
  content: "\e50c";
}

.t-i-brush::before {
  content: "\e50d";
}

.t-i-palette::before {
  content: "\e50e";
}

.t-i-droplet::before {
  content: "\e50f";
}

.t-i-paint::before {
  content: "\e50f";
}

.t-i-background::before {
  content: "\e50f";
}

.t-i-shape-line::before {
  content: "\e510";
}

.t-i-line::before {
  content: "\e510";
}

.t-i-brightness-contrast::before {
  content: "\e511";
}

.t-i-sliders::before {
  content: "\e512";
}

.t-i-saturation::before {
  content: "\e512";
}

.t-i-invert-colors::before {
  content: "\e513";
}

.t-i-transparency::before {
  content: "\e514";
}

.t-i-opacity::before {
  content: "\e514";
}

.t-i-grayscale::before {
  content: "\e515";
}

.t-i-blur::before {
  content: "\e516";
}

.t-i-sharpen::before {
  content: "\e517";
}

.t-i-shapes::before {
  content: "\e518";
}

.t-i-shape::before {
  content: "\e518";
}

.t-i-round-corners::before {
  content: "\e519";
}

.t-i-bring-to-front::before {
  content: "\e51a";
}

.t-i-front-element::before {
  content: "\e51a";
}

.t-i-bring-to-back::before {
  content: "\e51b";
}

.t-i-back-element::before {
  content: "\e51b";
}

.t-i-bring-forward::before {
  content: "\e51c";
}

.t-i-forward-element::before {
  content: "\e51c";
}

.t-i-bring-backward::before {
  content: "\e51d";
}

.t-i-backward-element::before {
  content: "\e51d";
}

.t-i-align-self-start::before {
  content: "\e51e";
}

.t-i-align-left-element::before {
  content: "\e51e";
}

.t-i-align-self-center::before {
  content: "\e51f";
}

.t-i-align-center-element::before {
  content: "\e51f";
}

.t-i-align-self-end::before {
  content: "\e520";
}

.t-i-align-right-element::before {
  content: "\e520";
}

.t-i-align-self-start-alt::before {
  content: "\e521";
}

.t-i-align-top-element::before {
  content: "\e521";
}

.t-i-align-self-center-alt::before {
  content: "\e522";
}

.t-i-align-middle-element::before {
  content: "\e522";
}

.t-i-align-self-end-alt::before {
  content: "\e523";
}

.t-i-align-bottom-element::before {
  content: "\e523";
}

.t-i-thumbnails-up::before {
  content: "\e524";
}

.t-i-thumbnails-right::before {
  content: "\e525";
}

.t-i-thumbnails-down::before {
  content: "\e526";
}

.t-i-thumbnails-left::before {
  content: "\e527";
}

.t-i-fullscreen::before {
  content: "\e528";
}

.t-i-full-screen::before {
  content: "\e528";
}

.t-i-fullscreen-enter::before {
  content: "\e528";
}

.t-i-fullscreen-exit::before {
  content: "\e529";
}

.t-i-full-screen-exit::before {
  content: "\e529";
}

.t-i-droplet-slash::before {
  content: "\e52a";
}

.t-i-reset-color::before {
  content: "\e52a";
}

.t-i-paint-remove::before {
  content: "\e52a";
}

.t-i-background-remove::before {
  content: "\e52a";
}

.t-i-photos::before {
  content: "\e52b";
}

.t-i-images::before {
  content: "\e52b";
}

.t-i-gallery::before {
  content: "\e52b";
}

.t-i-align-to-grid::before {
  content: "\e52c";
}

.t-i-size-to-grid::before {
  content: "\e52d";
}

.t-i-make-same-size::before {
  content: "\e52e";
}

.t-i-make-same-width::before {
  content: "\e52f";
}

.t-i-make-same-height::before {
  content: "\e530";
}

.t-i-make-horizontal-spacing-equal::before {
  content: "\e531";
}

.t-i-increase-horizontal-spacing::before {
  content: "\e532";
}

.t-i-decrease-horizontal-spacing::before {
  content: "\e533";
}

.t-i-remove-horizontal-spacing::before {
  content: "\e534";
}

.t-i-make-vertical-spacing-equal::before {
  content: "\e535";
}

.t-i-increase-vertical-spacing::before {
  content: "\e536";
}

.t-i-decrease-vertical-spacing::before {
  content: "\e537";
}

.t-i-remove-vertical-spacing::before {
  content: "\e538";
}

.t-i-eyedropper::before {
  content: "\e539";
}

.t-i-snap-grid::before {
  content: "\e53a";
}

.t-i-snap-to-gridlines::before {
  content: "\e53b";
}

.t-i-snap-to-snaplines::before {
  content: "\e53c";
}

.t-i-dimentions::before {
  content: "\e53d";
}

.t-i-align-self-stretch::before {
  content: "\e53e";
}

.t-i-align-stretch-element-horizontal::before {
  content: "\e53e";
}

.t-i-align-self-stretch-alt::before {
  content: "\e53f";
}

.t-i-align-stretch-element-vertical::before {
  content: "\e53f";
}

.t-i-align-items-start::before {
  content: "\e540";
}

.t-i-align-left-elements::before {
  content: "\e540";
}

.t-i-align-items-center::before {
  content: "\e541";
}

.t-i-align-center-elements::before {
  content: "\e541";
}

.t-i-align-items-end::before {
  content: "\e542";
}

.t-i-align-right-elements::before {
  content: "\e542";
}

.t-i-align-items-stretch::before {
  content: "\e543";
}

.t-i-align-stretch-elements-horizontal::before {
  content: "\e543";
}

.t-i-align-items-baseline::before {
  content: "\e544";
}

.t-i-align-baseline-horizontal::before {
  content: "\e544";
}

.t-i-align-items-start-alt::before {
  content: "\e545";
}

.t-i-align-top-elements::before {
  content: "\e545";
}

.t-i-align-items-center-alt::before {
  content: "\e546";
}

.t-i-align-middle-elements::before {
  content: "\e546";
}

.t-i-align-items-end-alt::before {
  content: "\e547";
}

.t-i-align-bottom-elements::before {
  content: "\e547";
}

.t-i-align-items-stretch-alt::before {
  content: "\e548";
}

.t-i-align-stretch-elements-vertical::before {
  content: "\e548";
}

.t-i-align-items-baseline-alt::before {
  content: "\e549";
}

.t-i-align-baseline-vertical::before {
  content: "\e549";
}

.t-i-justify-content-start::before {
  content: "\e54a";
}

.t-i-justify-start-horizontal::before {
  content: "\e54a";
}

.t-i-justify-content-center::before {
  content: "\e54b";
}

.t-i-justify-center-horizontal::before {
  content: "\e54b";
}

.t-i-justify-content-end::before {
  content: "\e54c";
}

.t-i-justify-end-horizontal::before {
  content: "\e54c";
}

.t-i-justify-content-between::before {
  content: "\e54d";
}

.t-i-justify-between-horizontal::before {
  content: "\e54d";
}

.t-i-justify-content-around::before {
  content: "\e54e";
}

.t-i-justify-around-horizontal::before {
  content: "\e54e";
}

.t-i-justify-content-start-alt::before {
  content: "\e54f";
}

.t-i-justify-start-vertical::before {
  content: "\e54f";
}

.t-i-justify-content-center-alt::before {
  content: "\e550";
}

.t-i-justify-center-vertical::before {
  content: "\e550";
}

.t-i-justify-content-end-alt::before {
  content: "\e551";
}

.t-i-justify-end-vertical::before {
  content: "\e551";
}

.t-i-justify-content-between-alt::before {
  content: "\e552";
}

.t-i-justify-between-vertical::before {
  content: "\e552";
}

.t-i-justify-content-around-alt::before {
  content: "\e553";
}

.t-i-justify-around-vertical::before {
  content: "\e553";
}

.t-i-color-canvas::before {
  content: "\e554";
}

.t-i-file-wrench::before {
  content: "\e600";
}

.t-i-page-properties::before {
  content: "\e600";
}

.t-i-bold::before {
  content: "\e601";
}

.t-i-italic::before {
  content: "\e602";
}

.t-i-underline::before {
  content: "\e603";
}

.t-i-font-family::before {
  content: "\e604";
}

.t-i-foreground-color::before {
  content: "\e605";
}

.t-i-text::before {
  content: "\e605";
}

.t-i-convert-lowercase::before {
  content: "\e606";
}

.t-i-convert-uppercase::before {
  content: "\e607";
}

.t-i-strikethrough::before {
  content: "\e608";
}

.t-i-strike-through::before {
  content: "\e608";
}

.t-i-subscript::before {
  content: "\e609";
}

.t-i-sub-script::before {
  content: "\e609";
}

.t-i-supscript::before {
  content: "\e60a";
}

.t-i-sup-script::before {
  content: "\e60a";
}

.t-i-superscript::before {
  content: "\e60a";
}

.t-i-div::before {
  content: "\e60b";
}

.t-i-all::before {
  content: "\e60c";
}

.t-i-h1::before {
  content: "\e60d";
}

.t-i-h2::before {
  content: "\e60e";
}

.t-i-h3::before {
  content: "\e60f";
}

.t-i-h4::before {
  content: "\e610";
}

.t-i-h5::before {
  content: "\e611";
}

.t-i-h6::before {
  content: "\e612";
}

.t-i-list-ordered::before {
  content: "\e613";
}

.t-i-list-numbered::before {
  content: "\e613";
}

.t-i-insert-ordered-list::before {
  content: "\e613";
}

.t-i-list-unordered::before {
  content: "\e614";
}

.t-i-list-bulleted::before {
  content: "\e614";
}

.t-i-insert-unordered-list::before {
  content: "\e614";
}

.t-i-indent::before {
  content: "\e615";
}

.t-i-indent-increase::before {
  content: "\e615";
}

.t-i-outdent::before {
  content: "\e616";
}

.t-i-indent-decrease::before {
  content: "\e616";
}

.t-i-insert-top::before {
  content: "\e617";
}

.t-i-insert-up::before {
  content: "\e617";
}

.t-i-insert-n::before {
  content: "\e617";
}

.t-i-insert-middle::before {
  content: "\e618";
}

.t-i-insert-m::before {
  content: "\e618";
}

.t-i-insert-bottom::before {
  content: "\e619";
}

.t-i-insert-down::before {
  content: "\e619";
}

.t-i-insert-s::before {
  content: "\e619";
}

.t-i-align-top::before {
  content: "\e61a";
}

.t-i-align-middle::before {
  content: "\e61b";
}

.t-i-align-bottom::before {
  content: "\e61c";
}

.t-i-align-left::before {
  content: "\e61d";
}

.t-i-justify-left::before {
  content: "\e61d";
}

.t-i-align-center::before {
  content: "\e61e";
}

.t-i-justify-center::before {
  content: "\e61e";
}

.t-i-align-right::before {
  content: "\e61f";
}

.t-i-justify-left::before {
  content: "\e61f";
}

.t-i-align-justify::before {
  content: "\e620";
}

.t-i-justify-full::before {
  content: "\e620";
}

.t-i-align-remove::before {
  content: "\e621";
}

.t-i-justify-clear::before {
  content: "\e621";
}

.t-i-text-wrap::before {
  content: "\e622";
}

.t-i-horizontal-rule::before {
  content: "\e623";
}

.t-i-rule-horizontal::before {
  content: "\e623";
}

.t-i-hr::before {
  content: "\e623";
}

.t-i-table-align-top-left::before {
  content: "\e624";
}

.t-i-table-align-top-center::before {
  content: "\e625";
}

.t-i-table-align-top-right::before {
  content: "\e626";
}

.t-i-table-align-middle-left::before {
  content: "\e627";
}

.t-i-table-align-middle-center::before {
  content: "\e628";
}

.t-i-table-align-middle-right::before {
  content: "\e629";
}

.t-i-table-align-bottom-left::before {
  content: "\e62a";
}

.t-i-table-align-bottom-center::before {
  content: "\e62b";
}

.t-i-table-align-bottom-right::before {
  content: "\e62c";
}

.t-i-table-align-remove::before {
  content: "\e62d";
}

.t-i-borders-all::before {
  content: "\e62e";
}

.t-i-all-borders::before {
  content: "\e62e";
}

.t-i-borders-outside::before {
  content: "\e62f";
}

.t-i-outside-borders::before {
  content: "\e62f";
}

.t-i-borders-inside::before {
  content: "\e630";
}

.t-i-inside-borders::before {
  content: "\e630";
}

.t-i-borders-inside-horizontal::before {
  content: "\e631";
}

.t-i-border-inside-h::before {
  content: "\e631";
}

.t-i-inside-horizontal-borders::before {
  content: "\e631";
}

.t-i-borders-inside-vertical::before {
  content: "\e632";
}

.t-i-borders-inside-v::before {
  content: "\e632";
}

.t-i-inside-vertical-borders::before {
  content: "\e632";
}

.t-i-border-top::before {
  content: "\e633";
}

.t-i-top-border::before {
  content: "\e633";
}

.t-i-border-bottom::before {
  content: "\e634";
}

.t-i-bottom-border::before {
  content: "\e634";
}

.t-i-border-left::before {
  content: "\e635";
}

.t-i-left-border::before {
  content: "\e635";
}

.t-i-border-right::before {
  content: "\e636";
}

.t-i-right-border::before {
  content: "\e636";
}

.t-i-borders-none::before {
  content: "\e637";
}

.t-i-border-no::before {
  content: "\e637";
}

.t-i-no-borders::before {
  content: "\e637";
}

.t-i-borders-show-hide::before {
  content: "\e638";
}

.t-i-form::before {
  content: "\e639";
}

.t-i-border::before {
  content: "\e639";
}

.t-i-form-element::before {
  content: "\e63a";
}

.t-i-code-snippet::before {
  content: "\e63b";
}

.t-i-select-all::before {
  content: "\e63c";
}

.t-i-button::before {
  content: "\e63d";
}

.t-i-select-box::before {
  content: "\e63e";
}

.t-i-calendar-date::before {
  content: "\e63f";
}

.t-i-group-box::before {
  content: "\e640";
}

.t-i-textarea::before {
  content: "\e641";
}

.t-i-textbox::before {
  content: "\e642";
}

.t-i-textbox-hidden::before {
  content: "\e643";
}

.t-i-password::before {
  content: "\e644";
}

.t-i-paragraph-add::before {
  content: "\e645";
}

.t-i-edit-tools::before {
  content: "\e646";
}

.t-i-template-manager::before {
  content: "\e647";
}

.t-i-change-manually::before {
  content: "\e648";
}

.t-i-track-changes::before {
  content: "\e649";
}

.t-i-track-changes-enable::before {
  content: "\e64a";
}

.t-i-track-changes-accept::before {
  content: "\e64b";
}

.t-i-track-changes-accept-all::before {
  content: "\e64c";
}

.t-i-track-changes-reject::before {
  content: "\e64d";
}

.t-i-track-changes-reject-all::before {
  content: "\e64e";
}

.t-i-document-manager::before {
  content: "\e64f";
}

.t-i-custom-icon::before {
  content: "\e650";
}

.t-i-book::before {
  content: "\e651";
}

.t-i-dictionary-add::before {
  content: "\e651";
}

.t-i-image-add::before {
  content: "\e652";
}

.t-i-image-light-dialog::before {
  content: "\e652";
}

.t-i-image-insert::before {
  content: "\e652";
}

.t-i-insert-image::before {
  content: "\e652";
}

.t-i-image-edit::before {
  content: "\e653";
}

.t-i-image-map-editor::before {
  content: "\e654";
}

.t-i-comment::before {
  content: "\e655";
}

.t-i-comment-remove::before {
  content: "\e656";
}

.t-i-comments-remove::before {
  content: "\e657";
}

.t-i-comments-remove-all::before {
  content: "\e657";
}

.t-i-silverlight::before {
  content: "\e658";
}

.t-i-media-manager::before {
  content: "\e659";
}

.t-i-video-external::before {
  content: "\e65a";
}

.t-i-flash-manager::before {
  content: "\e65b";
}

.t-i-binoculars::before {
  content: "\e65c";
}

.t-i-find-and-replace::before {
  content: "\e65c";
}

.t-i-find::before {
  content: "\e65c";
}

.t-i-copy::before {
  content: "\e65d";
}

.t-i-files::before {
  content: "\e65d";
}

.t-i-cut::before {
  content: "\e65e";
}

.t-i-clipboard::before {
  content: "\e65f";
}

.t-i-paste::before {
  content: "\e65f";
}

.t-i-clipboard-code::before {
  content: "\e660";
}

.t-i-paste-as-html::before {
  content: "\e660";
}

.t-i-clipboard-word::before {
  content: "\e661";
}

.t-i-paste-from-word::before {
  content: "\e661";
}

.t-i-clipboard-word-alt::before {
  content: "\e662";
}

.t-i-paste-from-word-strip-file::before {
  content: "\e662";
}

.t-i-clipboard-html::before {
  content: "\e663";
}

.t-i-paste-html::before {
  content: "\e663";
}

.t-i-clipboard-markdown::before {
  content: "\e664";
}

.t-i-paste-markdown::before {
  content: "\e664";
}

.t-i-clipboard-text::before {
  content: "\e665";
}

.t-i-paste-plain-text::before {
  content: "\e665";
}

.t-i-apply-format::before {
  content: "\e666";
}

.t-i-clear-css::before {
  content: "\e667";
}

.t-i-clearformat::before {
  content: "\e667";
}

.t-i-copy-format::before {
  content: "\e668";
}

.t-i-strip-all-formatting::before {
  content: "\e669";
}

.t-i-strip-css-format::before {
  content: "\e66a";
}

.t-i-strip-font-elements::before {
  content: "\e66b";
}

.t-i-strip-span-elements::before {
  content: "\e66c";
}

.t-i-strip-word-formatting::before {
  content: "\e66d";
}

.t-i-format-code-block::before {
  content: "\e66e";
}

.t-i-building-blocks::before {
  content: "\e66f";
}

.t-i-style-builder::before {
  content: "\e66f";
}

.t-i-puzzle-piece::before {
  content: "\e670";
}

.t-i-module-manager::before {
  content: "\e670";
}

.t-i-puzzle::before {
  content: "\e670";
}

.t-i-link-add::before {
  content: "\e671";
}

.t-i-hyperlink-light-dialog::before {
  content: "\e671";
}

.t-i-hyperlink-insert::before {
  content: "\e671";
}

.t-i-globe-link::before {
  content: "\e672";
}

.t-i-hyperlink-globe::before {
  content: "\e672";
}

.t-i-globe-unlink::before {
  content: "\e673";
}

.t-i-hyperlink-globe-remove::before {
  content: "\e673";
}

.t-i-envelop-link::before {
  content: "\e674";
}

.t-i-hyperlink-email::before {
  content: "\e674";
}

.t-i-anchor::before {
  content: "\e675";
}

.t-i-table-add::before {
  content: "\e676";
}

.t-i-table-light-dialog::before {
  content: "\e676";
}

.t-i-table-insert::before {
  content: "\e676";
}

.t-i-create-table::before {
  content: "\e676";
}

.t-i-table::before {
  content: "\e677";
}

.t-i-table-properties::before {
  content: "\e678";
}

.t-i-table-cell::before {
  content: "\e679";
}

.t-i-table-cell-properties::before {
  content: "\e67a";
}

.t-i-table-column-insert-left::before {
  content: "\e67b";
}

.t-i-add-column-left::before {
  content: "\e67b";
}

.t-i-table-column-insert-right::before {
  content: "\e67c";
}

.t-i-add-column-right::before {
  content: "\e67c";
}

.t-i-table-row-insert-above::before {
  content: "\e67d";
}

.t-i-add-row-above::before {
  content: "\e67d";
}

.t-i-table-row-insert-below::before {
  content: "\e67e";
}

.t-i-add-row-below::before {
  content: "\e67e";
}

.t-i-table-column-delete::before {
  content: "\e67f";
}

.t-i-delete-column::before {
  content: "\e67f";
}

.t-i-table-row-delete::before {
  content: "\e680";
}

.t-i-delete-row::before {
  content: "\e680";
}

.t-i-table-cell-delete::before {
  content: "\e681";
}

.t-i-table-delete::before {
  content: "\e682";
}

.t-i-cells-merge::before {
  content: "\e683";
}

.t-i-merge-cells::before {
  content: "\e683";
}

.t-i-cells-merge-horizontally::before {
  content: "\e684";
}

.t-i-cells-merge-h::before {
  content: "\e684";
}

.t-i-merge-horizontally::before {
  content: "\e684";
}

.t-i-cells-merge-vertically::before {
  content: "\e685";
}

.t-i-cells-merge-v::before {
  content: "\e685";
}

.t-i-merge-vertically::before {
  content: "\e685";
}

.t-i-cell-split-horizontally::before {
  content: "\e686";
}

.t-i-cells-split-h::before {
  content: "\e686";
}

.t-i-cell-split-vertically::before {
  content: "\e687";
}

.t-i-cells-split-v::before {
  content: "\e687";
}

.t-i-table-unmerge::before {
  content: "\e688";
}

.t-i-normal-layout::before {
  content: "\e688";
}

.t-i-pane-freeze::before {
  content: "\e689";
}

.t-i-freeze-pane::before {
  content: "\e689";
}

.t-i-row-freeze::before {
  content: "\e68a";
}

.t-i-freeze-row::before {
  content: "\e68a";
}

.t-i-column-freeze::before {
  content: "\e68b";
}

.t-i-col-freeze::before {
  content: "\e68b";
}

.t-i-freeze-col::before {
  content: "\e68b";
}

.t-i-toolbar-float::before {
  content: "\e68c";
}

.t-i-spell-checker::before {
  content: "\e68d";
}

.t-i-validation-xhtml::before {
  content: "\e68e";
}

.t-i-validation-data::before {
  content: "\e68f";
}

.t-i-toggle-full-screen-mode::before {
  content: "\e690";
}

.t-i-formula-fx::before {
  content: "\e691";
}

.t-i-fx::before {
  content: "\e691";
}

.t-i-sum::before {
  content: "\e692";
}

.t-i-symbol::before {
  content: "\e693";
}

.t-i-dollar::before {
  content: "\e694";
}

.t-i-currency::before {
  content: "\e694";
}

.t-i-percent::before {
  content: "\e695";
}

.t-i-custom-format::before {
  content: "\e696";
}

.t-i-format-number::before {
  content: "\e696";
}

.t-i-decimal-increase::before {
  content: "\e697";
}

.t-i-increace-decimal::before {
  content: "\e697";
}

.t-i-decimal-decrease::before {
  content: "\e698";
}

.t-i-decrease-decimal::before {
  content: "\e698";
}

.t-i-font-size::before {
  content: "\e699";
}

.t-i-image-absolute-position::before {
  content: "\e69a";
}

.t-i-table-wizard::before {
  content: "\e69b";
}

.t-i-crosstab::before {
  content: "\e69c";
}

.t-i-crosstab-wizard::before {
  content: "\e69d";
}

.t-i-table-body::before {
  content: "\e69e";
}

.t-i-table-column-groups::before {
  content: "\e69f";
}

.t-i-table-corner::before {
  content: "\e6a0";
}

.t-i-table-row-groups::before {
  content: "\e6a1";
}

.t-i-globe-outline::before {
  content: "\e700";
}

.t-i-globe::before {
  content: "\e701";
}

.t-i-map-marker::before {
  content: "\e702";
}

.t-i-marker-pin::before {
  content: "\e702";
}

.t-i-map-marker-target::before {
  content: "\e703";
}

.t-i-marker-pin-target::before {
  content: "\e703";
}

.t-i-pin::before {
  content: "\e704";
}

.t-i-unpin::before {
  content: "\e705";
}

.t-i-share::before {
  content: "\e800";
}

.t-i-user::before {
  content: "\e801";
}

.t-i-inbox::before {
  content: "\e802";
}

.t-i-blogger::before {
  content: "\e803";
}

.t-i-blogger-box::before {
  content: "\e804";
}

.t-i-delicious::before {
  content: "\e805";
}

.t-i-delicious-box::before {
  content: "\e806";
}

.t-i-digg::before {
  content: "\e807";
}

.t-i-digg-box::before {
  content: "\e808";
}

.t-i-envelop::before {
  content: "\e809";
}

.t-i-email::before {
  content: "\e809";
}

.t-i-letter::before {
  content: "\e809";
}

.t-i-envelop-box::before {
  content: "\e80a";
}

.t-i-email-box::before {
  content: "\e80a";
}

.t-i-letter-box::before {
  content: "\e80a";
}

.t-i-facebook::before {
  content: "\e80b";
}

.t-i-facebook-box::before {
  content: "\e80c";
}

.t-i-google::before {
  content: "\e80d";
}

.t-i-google-box::before {
  content: "\e80e";
}

.t-i-google-plus::before {
  content: "\e80f";
}

.t-i-google-plus-box::before {
  content: "\e810";
}

.t-i-linkedin::before {
  content: "\e811";
}

.t-i-linkedin-box::before {
  content: "\e812";
}

.t-i-myspace::before {
  content: "\e813";
}

.t-i-myspace-box::before {
  content: "\e814";
}

.t-i-pinterest::before {
  content: "\e815";
}

.t-i-pinterest-box::before {
  content: "\e816";
}

.t-i-reddit::before {
  content: "\e817";
}

.t-i-reddit-box::before {
  content: "\e818";
}

.t-i-stumble-upon::before {
  content: "\e819";
}

.t-i-stumble-upon-box::before {
  content: "\e81a";
}

.t-i-tell-a-friend::before {
  content: "\e81b";
}

.t-i-tell-a-friend-box::before {
  content: "\e81c";
}

.t-i-tumblr::before {
  content: "\e81d";
}

.t-i-tumblr-box::before {
  content: "\e81e";
}

.t-i-twitter::before {
  content: "\e81f";
}

.t-i-twitter-box::before {
  content: "\e820";
}

.t-i-yammer::before {
  content: "\e821";
}

.t-i-yammer-box::before {
  content: "\e822";
}

.t-i-behance::before {
  content: "\e823";
}

.t-i-behance-box::before {
  content: "\e824";
}

.t-i-dribbble::before {
  content: "\e825";
}

.t-i-dribbble-box::before {
  content: "\e826";
}

.t-i-rss::before {
  content: "\e827";
}

.t-i-rss-box::before {
  content: "\e828";
}

.t-i-vimeo::before {
  content: "\e829";
}

.t-i-vimeo-box::before {
  content: "\e82a";
}

.t-i-youtube::before {
  content: "\e82b";
}

.t-i-youtube-box::before {
  content: "\e82c";
}

.t-i-folder::before {
  content: "\e900";
}

.t-i-folder-open::before {
  content: "\e901";
}

.t-i-folder-add::before {
  content: "\e902";
}

.t-i-folder-up::before {
  content: "\e903";
}

.t-i-folder-more::before {
  content: "\e904";
}

.t-i-fields-more::before {
  content: "\e904";
}

.t-i-aggregate-fields::before {
  content: "\e905";
}

.t-i-file::before {
  content: "\e906";
}

.t-i-file-vertical::before {
  content: "\e906";
}

.t-i-page-portrait::before {
  content: "\e906";
}

.t-i-file-v::before {
  content: "\e906";
}

.t-i-file-add::before {
  content: "\e907";
}

.t-i-insert-file::before {
  content: "\e907";
}

.t-i-file-txt::before {
  content: "\e908";
}

.t-i-txt::before {
  content: "\e908";
}

.t-i-file-csv::before {
  content: "\e909";
}

.t-i-csv::before {
  content: "\e909";
}

.t-i-file-excel::before {
  content: "\e90a";
}

.t-i-file-xls::before {
  content: "\e90a";
}

.t-i-excel::before {
  content: "\e90a";
}

.t-i-xls::before {
  content: "\e90a";
}

.t-i-xlsa::before {
  content: "\e90a";
}

.t-i-file-word::before {
  content: "\e90b";
}

.t-i-file-doc::before {
  content: "\e90b";
}

.t-i-word::before {
  content: "\e90b";
}

.t-i-doc::before {
  content: "\e90b";
}

.t-i-file-mdb::before {
  content: "\e90c";
}

.t-i-mdb::before {
  content: "\e90c";
}

.t-i-file-ppt::before {
  content: "\e90d";
}

.t-i-ppt::before {
  content: "\e90d";
}

.t-i-file-pdf::before {
  content: "\e90e";
}

.t-i-pdf::before {
  content: "\e90e";
}

.t-i-pdfa::before {
  content: "\e90e";
}

.t-i-file-psd::before {
  content: "\e90f";
}

.t-i-psd::before {
  content: "\e90f";
}

.t-i-file-flash::before {
  content: "\e910";
}

.t-i-flash::before {
  content: "\e910";
}

.t-i-file-config::before {
  content: "\e911";
}

.t-i-config::before {
  content: "\e911";
}

.t-i-file-ascx::before {
  content: "\e912";
}

.t-i-ascx::before {
  content: "\e912";
}

.t-i-file-bac::before {
  content: "\e913";
}

.t-i-bac::before {
  content: "\e913";
}

.t-i-file-zip::before {
  content: "\e914";
}

.t-i-zip::before {
  content: "\e914";
}

.t-i-film::before {
  content: "\e915";
}

.t-i-css3::before {
  content: "\e916";
}

.t-i-html5::before {
  content: "\e917";
}

.t-i-code::before {
  content: "\e918";
}

.t-i-html::before {
  content: "\e918";
}

.t-i-source-code::before {
  content: "\e918";
}

.t-i-view-source::before {
  content: "\e918";
}

.t-i-css::before {
  content: "\e919";
}

.t-i-js::before {
  content: "\e91a";
}

.t-i-exe::before {
  content: "\e91b";
}

.t-i-csproj::before {
  content: "\e91c";
}

.t-i-vbproj::before {
  content: "\e91d";
}

.t-i-cs::before {
  content: "\e91e";
}

.t-i-vb::before {
  content: "\e91f";
}

.t-i-sln::before {
  content: "\e920";
}

.t-i-cloud::before {
  content: "\e921";
}

.t-i-file-horizontal::before {
  content: "\e922";
}

.t-i-page-landscape::before {
  content: "\e922";
}

.t-i-file-h::before {
  content: "\e922";
}

.t-i-subreport::before {
  content: "\e923";
}

.t-i-data::before {
  content: "\e924";
}

.t-i-report-header-section::before {
  content: "\e925";
}

.t-i-report-footer-section::before {
  content: "\e926";
}

.t-i-group-header-section::before {
  content: "\e927";
}

.t-i-group-footer-section::before {
  content: "\e928";
}

.t-i-page-header-section::before {
  content: "\e929";
}

.t-i-page-footer-section::before {
  content: "\e92a";
}

.t-i-detail-section::before {
  content: "\e92b";
}

.t-i-toc-section::before {
  content: "\e92c";
}

.t-i-group-section::before {
  content: "\e92d";
}

.t-i-parameters::before {
  content: "\e92e";
}

.t-i-data-csv::before {
  content: "\e92f";
}

.t-i-data-json::before {
  content: "\e930";
}

.t-i-data-sql::before {
  content: "\e931";
}

.t-i-data-web::before {
  content: "\e932";
}

.t-i-group-collection::before {
  content: "\e933";
}

.t-i-parameter-boolean::before {
  content: "\e934";
}

.t-i-parameter-date-time::before {
  content: "\e935";
}

.t-i-parameter-float::before {
  content: "\e936";
}

.t-i-parameter-integer::before {
  content: "\e937";
}

.t-i-parameter-string::before {
  content: "\e938";
}

.t-i-toc-section-level::before {
  content: "\e939";
}

.t-i-inherited::before {
  content: "\e93a";
}

.t-i-file-video::before {
  content: "\e93b";
}

.t-i-file-audio::before {
  content: "\e93c";
}

.t-i-file-image::before {
  content: "\e93d";
}

.t-i-file-presentation::before {
  content: "\e93e";
}

.t-i-file-data::before {
  content: "\e93f";
}

.t-i-report-element::before {
  content: "\e94a";
}

.t-i-file-disc-image::before {
  content: "\e940";
}

.t-i-file-programming::before {
  content: "\e941";
}

.t-i-parameters-byte-array::before {
  content: "\e942";
}

.t-i-parameters-unknown::before {
  content: "\e943";
}

.t-i-file-error::before {
  content: "\e944";
}

.t-i-file-validation::before {
  content: "\e944";
}

.t-i-files-error::before {
  content: "\e945";
}

.t-i-files-validation::before {
  content: "\e945";
}

.t-i-data-rest::before {
  content: "\e946";
}

.t-i-file-typescript::before {
  content: "\e947";
}

.t-i-data-ods::before {
  content: "\e948";
}

.t-i-file-report::before {
  content: "\e949";
}

.t-i-table-position-start::before {
  content: "\e6a2";
}

.t-i-table-position-left::before {
  content: "\e6a2";
}

.t-i-table-position-center::before {
  content: "\e6a3";
}

.t-i-table-position-end::before {
  content: "\e6a4";
}

.t-i-table-position-right::before {
  content: "\e6a4";
}

.t-i-list-roman-upper::before {
  content: "\e6a5";
}

.t-i-list-roman-lower::before {
  content: "\e6a6";
}

.t-i-import::before {
  content: "\e6a7";
}

.t-i-export::before {
  content: "\e6a8";
}

.t-i-match-full-word::before {
  content: "\e6a9";
}

.t-i-regular-expression::before {
  content: "\e6ab";
}

.t-i-replace-single::before {
  content: "\e6ac";
}

.t-i-replace-all::before {
  content: "\e6ad";
}

.t-i-letter-space::before {
  content: "\e6ae";
}

.t-i-line-height::before {
  content: "\e6af";
}

.t-i-blockquote::before {
  content: "\e6b0";
}

.t-i-list-latin-big::before {
  content: "\e6b1";
}

.t-i-list-latin-small::before {
  content: "\e6b2";
}

.t-i-list-unordered-square::before {
  content: "\e6b3";
}

.t-i-list-unordered-outline::before {
  content: "\e6b4";
}

.t-i-graph::before {
  content: "\ea00";
}

.t-i-chart-column-clustered::before {
  content: "\ea01";
}

.t-i-chart-column-stacked::before {
  content: "\ea02";
}

.t-i-chart-column-stacked100::before {
  content: "\ea03";
}

.t-i-chart-column-range::before {
  content: "\ea04";
}

.t-i-chart-bar-clustered::before {
  content: "\ea05";
}

.t-i-chart-bar-stacked::before {
  content: "\ea06";
}

.t-i-chart-bar-stacked100::before {
  content: "\ea07";
}

.t-i-chart-bar-range::before {
  content: "\ea08";
}

.t-i-chart-area-clustered::before {
  content: "\ea09";
}

.t-i-chart-area-stacked::before {
  content: "\ea0a";
}

.t-i-chart-area-stacked100::before {
  content: "\ea0b";
}

.t-i-chart-area-range::before {
  content: "\ea0c";
}

.t-i-chart-line::before {
  content: "\ea0d";
}

.t-i-chart-line-stacked::before {
  content: "\ea0e";
}

.t-i-chart-line-stacked100::before {
  content: "\ea0f";
}

.t-i-chart-line-markers::before {
  content: "\ea10";
}

.t-i-chart-line-stacked-markers::before {
  content: "\ea11";
}

.t-i-chart-line-stacked100-markers::before {
  content: "\ea12";
}

.t-i-chart-pie::before {
  content: "\ea13";
}

.t-i-chart-doughnut::before {
  content: "\ea14";
}

.t-i-chart-scatter::before {
  content: "\ea15";
}

.t-i-chart-scatter-smooth-lines-markers::before {
  content: "\ea16";
}

.t-i-chart-scatter-smooth-lines::before {
  content: "\ea17";
}

.t-i-chart-scatter-straight-lines-markers::before {
  content: "\ea18";
}

.t-i-chart-scatter-straight-lines::before {
  content: "\ea19";
}

.t-i-chart-bubble::before {
  content: "\ea1a";
}

.t-i-chart-candlestick::before {
  content: "\ea1b";
}

.t-i-chart-ohlc::before {
  content: "\ea1c";
}

.t-i-chart-radar::before {
  content: "\ea1d";
}

.t-i-chart-radar-markers::before {
  content: "\ea1e";
}

.t-i-chart-radar-filled::before {
  content: "\ea1f";
}

.t-i-chart-rose::before {
  content: "\ea20";
}

.t-i-chart-choropleth::before {
  content: "\ea21";
}

/* TelerikWebUI end */
