$product: 'blazor';

$accent: #B695F3;
$code-background-color: rgba(182,149,243,0.8);

$side-nav-link-color: $accent;
$side-nav-selected-fw: 500;

$env-develop-bg: $accent;

$btn-action-background: transparent;
$btn-action-foreground: $accent;
$btn-action-active: $accent;
$btn-action-active-color: #f1f1f1;
