
$accent: #27A306; /*#ee5247*/
$accent-solid: #3f5366;
$text-active-color: #4b4e52;
$code-background-color: rgba(39, 163, 6, 0.8);

$side-nav-link-color: $accent;
$side-nav-selected-fw: 500;

$try-now: #F46147;
$try-now-hover: #F24021;

$env-develop-bg: $accent;

$tip-bg: #e4f1df;
$important-bg: #f9edc6;
$caution-bg: #f7e1df;

$btn-action-background: transparent;
$btn-action-foreground: $accent;
$btn-action-active: $accent;
$btn-action-active-color: #f1f1f1;
