
$accent: #ffcc33; 
$accent-solid: #3f5366;
$text-active-color: #4b4e52;
$code-background-color: rgba(79, 93, 108, 0.8);

$side-nav-link-color: #000000;
$side-nav-selected-fw: 600;

$try-now: #F46147;
$try-now-hover: #F24021;

$env-develop-bg: $accent;

$tip-bg: #e4f1df;
$important-bg: #f9edc6;
$caution-bg: #f7e1df;

$btn-action-background: $accent;
$btn-action-foreground: #000000;
$btn-action-active: #f5b800;
$btn-action-active-color: $btn-action-foreground;
